@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');

.actionSection{
    margin: 0 10px;
    display: flex;
    justify-content: space-between;

    border-bottom: 1px solid #d9d9d9;
}

.actionSection>div{
    padding: 6px 3px;

    font-family: 'Dancing Script', cursive;
    font-size: 16px;
    text-align: left;
    color: #000000;
}

.actionSection>div#number{
    flex-basis: 2%;
}

.actionSection>div#name{
    flex-basis: 50%;
}

.actionSection>div#status, .actionSection>div#actions{
    flex-basis: 20%;
}

.actionSection>div#actions{
    text-align: right;
}